<h1><%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years_experience %></h3>

<h3>Currently Working on Open Rides:</h3>
<% @rides.each do |ride| %>
  <div id="ride-<%= ride.id %>">
    <p><%= ride.name %></p>
  </div>
<% end %>

<h3>Add a ride to workload:</h3>
<%= form_with url: "/mechanics/#{@mechanic.id}/rides", method: :post, local: true do |f| %>
  <%= f.label :ride_id, "Ride ID: " %>
  <%= f.text_field :ride_id %>
  <%= f.submit "Submit" %>
<% end %>
